/* Reset some default styles */
body, h1, h2, h3, p, ul, ol, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #333;
    padding: 1rem;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* Styles for the h1 tag with your name */
h1 {
    color: #333; /* Change the color to a readable value */
    font-size: 2.5rem; /* Adjust font size as needed */
    margin: 0;
}


h2, h3 {
    color: #333;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

a {
    color: #0077cc;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

/* Responsive layout */
@media (max-width: 600px) {
    header {
        padding: 1rem;
    }

    nav {
        padding: 1rem;
    }
}
